html {
    background-color: #DAD7CD;
    height: 100%;
}

/* Using web safe font for compatibility */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    height: 100%;
    background: linear-gradient(90deg, #A3B18A 50%, #DAD7CD 50%);
}

h1 {
    color: #344E41

}

.profilepic {
    border-radius: 20%;
    
}
img:hover {
    box-shadow: #A3B18A;
}

.opening {
    background-color: #A3B18A;
    padding: 15px;
    width: 100%;
    display: flexbox;
    flex-direction: column;
}