html {
    background-color: #B6C8A9;
    height: 75%;
    margin: 5px;
    margin-bottom: 20px;

}

/* Using Google web fonts for compatibility */
body {
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: #B6C8A9;
    
}

body {
    height: 100%;
    background: linear-gradient(0deg, #B6C8A9 70%, #C8EAD3 30%);
    border: 0px;
}

#about {
    background-color: #C8EAD3;
    padding-left: 20px;
    border-radius: 5%;
}

h1 {
    color: #151613;
    font-family: 'Play', sans-serif;

}

#intro {
    color: #151613;
    font-size: xx-large;
    font-weight: bolder;
}

.profilepic {
    border-radius: 50%;
    
}

#introduction {
    font-size: large;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

/*#about {
    display: flex;
    flex-direction: row;
}*/