html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

header, section {
    padding: 20px;
}

header {
    background-color: #151613;
    color: #C8EAD3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

#main-nav ul {
    list-style: none;
    font-family: "Play", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#main-nav ul > li {
    border: solid 1px #B6C8A9;
    padding: 10px 25px;
    cursor: pointer;
}

#main-nav ul > li:hover {
    background-color: #CFFFE5;
}

#main-nav ul > li:hover > a {
    color: #151613;
}

#main-nav ul > li > a {
    color: #CFFFE5;
    text-decoration: none;
    font-size: x-large;
}

#about {
    background-color: #C8EAD3;
    display: flex;
    align-items: center;
    justify-content: center;

}


#experience {
    background-color: #CEDADA;
}

#edu {
    background-color: #C8EAD3;
}

#resume {
    background-color: #695958;
}

.resume-preview {
    width: 75%;
}

#resume div {
    text-align: center;
}

footer {
    background-color: #151613;
    color: #CFFFE5;
    padding: 15px;
}

#profilepic img {
    border-radius: 20%;
}

#goals {
    color: #151613;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    #about {
        flex-wrap: wrap;
    }
    #main-nav {        
        width: 100%;
    }

    #main-nav ul {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    #main-nav ul > li {
        width: 100%;        
    }    
    header {
        flex-wrap: wrap-reverse;
        text-align: center;
        padding: 0;
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

}