html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header, section {
    padding: 20px;
}

header {
    background-color: #CEDADA;
}

#about {
    background-color: #C8EAD3;
    display: flex;
    align-items: center;
    justify-content: center;

}


#experience {
    background-color: #CEDADA;
}

#edu {
    background-color: #C8EAD3;
}

#resume {
    background-color: #151613;
}

.resume-preview {
    width: 75%;
}

#resume div {
    text-align: center;
}

footer {
    background-color: #CFFFE5;
}

#profilepic img {
    border-radius: 20%;
}

#goals {
    color: #151613;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    #about {
        flex-wrap: wrap;
    }
}